@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

$Raleway: Raleway;
$Alegreya: Alegreya;
$serif: $Alegreya;
$sans-serif: $Raleway;

$background: blue;
$primary-text: black;
$border: gray;
